:root {
  --clr-primary-400: #000000;
  --clr-grey-100: #d9d9d9;
  --clr-grey-200: #92979c;
  --clr-grey-250: #616161;
  --clr-grey-300: #333333;
  --clr-grey-400: #292929;
  --clr-grey-500: #272727;
  --clr-grey-600: #161616;
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e2e2e2;
  --clr-accent-200: #4693ed;
  --clr-accent-400: #3341c1;
  --clr-accent-600: #051076;
  --clr-green: #3EA03B;
  --clr-red: #E31616;

  --ff-primary: "Satoshi", serif;
  --ff-secondary: "Clash Display", sans-serif;
  --ff-tertiary: "STIX Two Text", serif;
  --ff-rubik: "rubik", sans-serif;
  --ff-news: "Baskervville", serif;
  --ff-bellefair: "Bellefair", serif;
  --ff-inter: "Inter", sans-serif;

  --fs-50: 10px;
  --fs-75: 12px;
  --fs-100: 16px;
  --fs-125: 17.5px;
  --fs-150: 22px;
  --fs-200: 24px;
  --fs-300: 26px;
  --fs-400: 28px;
  --fs-500: 30px;
  --fs-600: 32px;
  --fs-700: 40px;
  --fs-800: 48px;
  --fs-900: 55px;
  --fs-xl: 80px;
  --fs-xxl: 170px;

  --fs-body: var(--fs-100);
  --fs-primary-heading: var(--fs-600);
  --fs-secondary-heading: var(--fs-400);
  --fs-sub-heading: var(--fs-500);
  --fs-nav: var(--fs-200);
  --fs-button: var(--fs-100);
  --fs-payment-button: var(--fs-125);

  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --size-200: 1rem;
  --size-275: 18px;
  --size-300: 20px;
  --size-400: 25px;
  --size-450: 30px;
  --size-490: 37px;
  --size-500: 47px;
  --size-600: 50px;
  --size-700: 60px;
  --size-750: 64px;
  --size-800: 75px;
  --size-900: 80px;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-xl);
    --fs-secondary-heading: var(--fs-800);
    --fs-sub-heading: var(--fs-700);
    --fs-button: var(--fs-300);
    --fs-payment-button: var(--fs-600);
    --fs-100: var(--fs-200);
    --fs-75: var(--fs-600);
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Preset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------------------------------------------------ */
/* General styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-primary-400);
}

h1 {
  max-width: 18ch;
}

p {
  max-width: 30ch;
}

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.19rem;
  padding: 2em 7.3125em;
  font-weight: var(--fw-medium);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
}

.button[data-type="inverted"] {
  background: none;
  color: var(--clr-primary-400);
  border: 1px solid var(--clr-grey-300);
  border-radius: 10px;
}

.payment-button {
  font-size: var(--fs-payment-button);
  border-radius: 0.25rem;
}

.button:hover {
  background-color: var(--clr-accent-600);
}

.button:focus-visible {
  background-color: var(--clr-primary-400);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}


/* ----------------------------------------------------------------------------------------- */
/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.container {
  --max-width: 1200px;
  --padding: 0.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.ff-tertiary {
  font-family: var(--ff-tertiary);
}

.ff-rubik {
  font-family: var(--ff-rubik);
}

.ff-news {
  font-family: var(--ff-news);
}

.ff-bellefair {
  font-family: var(--ff-bellefair);
}

.ff-inter {
  font-family: var(--ff-inter);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-grey-250 {
  color: var(--clr-grey-250);
}

.text-grey-300 {
  color: var(--clr-grey-300);
}

.text-grey-400 {
  color: var(--clr-grey-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-sub-heading {
  font-size: var(--fs-sub-heading);
  /* line-height: 50px; */
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-75 {
  font-size: var(--fs-75);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-125 {
  font-size: var(--fs-125);
}

.fs-150 {
  font-size: var(--fs-150);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.text-center {
  text-align: center;
}

/* .padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
} */
@media (max-width: 50em) {
  .display-sm-none {
    display: none;
  }
}


/* Navigation */
.primary-header {
  padding-top: var(--size-700);
  width: 100%;
}

.top-nav {
  padding-top: var(--size-300);
  justify-content: space-around;
  background: var(--clr-neutral-100);
  z-index: 100;
  transition: 0.3s;
}

/* .sticky-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} */

.logo {
  padding-left: 1.875rem;
}

.primary-nav ul {
  display: flex;
  justify-content: space-between;
  gap: var(--size-500);
}

.primary-nav ul li a {
  text-decoration: none;
  color: var(--clr-grey-300);
  font-size: var(--fs-nav);
  transition: 1s linear left;
  position: relative;
  text-transform: capitalize;
}

/* .primary-nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -2.5px;
  left: 0;
  background-color: var(--clr-grey-300);
  transition: width 0.25s ease-out;
} */

.primary-nav ul li a:hover,
.primary-nav ul li a:focus {
  font-weight: var(--fw-medium);
  border-bottom: solid var(--clr-grey-300);
}

.nav-icons button {
  border: 0;
  background: none;
}

.nav-icons button img {
  padding: 0.625rem;
}

.nav-icons button:not(:first-child) {
  position: relative;
}

.nav-icons button:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 74.2%;
  top: 7.14%;
  background: var(--clr-red);
  border-radius: 100%;
  z-index: 1;
}

@media (max-width: 50em) {
  body {
    position: relative;
  }

  .primary-header {
    padding-top: var(--size-400);
  }

  .top-nav {
    padding-top: 0.3125rem;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0px;
    white-space: nowrap;
    width: 0px;
    background-color: var(--clr-neutral-100);
    padding: 0;
    z-index: 100;
    overflow: hidden;
    transition: width 0.3s ease-in;
  }

  .sidebar-open {
    width: 100%;
  }

  .nav-wrapper>.flex:first-child {
    justify-content: space-between;
    margin-top: var(--size-400);
    margin-right: var(--size-400);
    margin-left: var(--size-450);
  }

  .primary-nav {
    margin-top: var(--size-600);
  }

  .primary-nav ul {
    flex-direction: column;
    gap: var(--size-275);
    margin-left: var(--size-450);
  }

  .customer-care-btn {
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 0;
    /* background: url(./images/message-icon.svg) var(--clr-accent-400); */
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3.55556px 10.6667px rgba(0, 0, 0, 0.25);
    margin-top: 13.375rem;
    margin-bottom: var(--size-750);
    margin-right: 2rem;
    float: right;
  }

  .nav-icons button img {
    width: 24.72px;
    padding: 0.3125rem;
  }

  .nav-icons>button:last-child {
    display: none;
  }
}

@media (min-width: 50em) {
  .display-lg-none {
    display: none;
  }
}

/* Hero section */

.hero-section {
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: var(--size-275);
  row-gap: var(--size-450);
}

.hero-section>*:nth-child(1),
.hero-section>*:nth-child(2) {
  justify-self: center;
}

.sm-hero {
  position: relative;
  max-width: 100%;
  aspect-ratio: 1.1;
  margin: 0 0.125rem;
}

.sm-hero img {
  position: absolute;
}

.sm-hero img:first-child {
  left: 0;
  top: 56.57px;
  top: 0;
  z-index: -1;
  width: 100%;
}

.sm-hero img:nth-child(2) {
  left: 0;
  top: 4.09px;
  z-index: 0;
  width: 100%;
}

.sm-hero img:nth-child(3) {
  left: 22.16px;
  top: 26.29px;
  z-index: 1;
  width: 88.75%;
}

.sm-hero div {
  width: 8.88%;
  aspect-ratio: 1;
  border-radius: 100%;
  position: absolute;
  z-index: -100;
}

.sm-hero div:first-of-type {
  top: 0;
  right: 3.04%;
  background: #006CA2;
  filter: blur(20px);
}

.sm-hero div:nth-of-type(2) {
  left: -2.122%;
  top: 73.24%;
  background: #C05609;
  filter: blur(12.5px);
}

.sm-hero div:last-of-type {
  bottom: 0;
  right: 1.78%;
  background: #F44336;
  filter: blur(15px);
}

@media (min-width: 50em) {
  .hero-section {
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    margin-top: var(--size-600);
  }

  .primary-heading {
    color: var(--clr-grey-400);
    font-weight: var(--fw-semi-bold);
    max-width: 18ch;
  }

  .hero-section p.fs-100 {
    max-width: 48ch;
    font-size: var(--fs-400);
  }

  .primary-heading span:nth-child(2) {
    display: inline-block;
  }

  .lg-hero {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: var(--size-300);
    overflow: hidden;
    height: 505px;
    margin-inline: auto;
  }

  .hero-slide {
    min-width: 360px;
    height: 100%;
    background-image:
      url(./assets/carousel-images/product07.jpg),
      url(./assets/carousel-images/product05.jpg),
      url(./assets/carousel-images/product21.jpg),
      url(./assets/carousel-images/product08.jpg),
      url(./assets/carousel-images/product09.jpg);
    background-repeat: no-repeat;
    background-position-x: center, 380px, 380px, 380px, 380px;
    background-size: contain;
    animation: hero-animation 6s ease infinite;
  }

  .hero-slide:first-child {
    background-position-y: 55%;
    animation-delay: -1.2s;
  }

  .hero-slide:nth-child(2) {
    background-position-y: 56.2%;
    animation-delay: -2.4s;
  }

  .hero-slide:nth-child(3) {
    background-position-y: 50.3%;
    animation-delay: -3.6s;
  }

  .hero-slide:nth-child(4) {
    background-position-y: 56.2%;
    animation-delay: -4.8s;
  }

  .hero-slide:nth-child(5) {
    background-position-y: 56.2%;
    animation-delay: 1s;
    animation-delay: 0s;
  }
}

@keyframes hero-animation {
  0% {
    background-position-x: -380px, -380px, -380px, -380px, center;
  }

  5% {
    background-position-x: -380px, -380px, -380px, center, +380px;
  }

  10% {
    background-position-x: -380px, -380px, center, -380px, +380px;
  }

  15% {
    background-position-x: -380px, center, +380px, +380px, +380px;
  }

  20% {
    background-position-x: center, +380px, +380px, +380px, +380px;
  }

  /* 10% {
      background-position-x: center, 380px, 380px, 380px, 380px;
  } */

  40% {
    background-position-x: -380px, center, 380px, 380px, 380px;
  }

  60% {
    background-position-x: -380px, -380px, center, 380px, 380px;
  }

  80% {
    background-position-x: -380px, -380px, -380px, center, 380px;
  }

  100% {
    background-position-x: -380px, -380px, -380px, -380px, center;
  }
}

/* Rest of Homepage */

.features {
  margin-top: 10.125rem;
}

.features>h2 {
  margin-bottom: var(--size-490);
}

.features>.even-columns {
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
}

.featured-product {
  display: flex;
  gap: var(--size-490);
  padding: var(--size-700) 0;
  border-top: 0.5px solid #333333;
}

.featured-product:nth-child(even)>div:nth-child(2) {
  order: -1;
}

.featured-product>div:first-child {
  width: 610px;
  height: 305px;
  background: var(--clr-grey-100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featured-product>div:nth-child(2) {
  flex-direction: column;
}

.featured-product>div:nth-child(2)>.flex:last-child {
  margin-bottom: -14px;
  align-items: center;
}

.featured-product>div:nth-child(2)>p {
  line-height: 32px;
  max-width: 33ch;
}

.featured-product>div:nth-child(2) ul {
  display: flex;
  /* align-items: flex-end; */
}

/* .pfp {
  width: 50px;
  height: 50px;
  background: url(.png) #d9d9d9;
  border: 1.5px solid var(--clr-primary-400);
  border: 1px solid #78A3AD;
  border-radius: 100%;
} */

.pfp:not(:first-child) {
  margin-left: -1.25rem;
}

.feature-btn {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  border: 0.5px solid #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-btn__icon {
  font-size: 3rem;
  color: #616161;
}

@media (max-width: 50em) {
  .features {
    margin-right: 0.625rem;
    margin-top: 7.0625rem;
  }

  .featured-product {
    display: flex;
    flex-direction: column;
  }

  .featured-product>div:first-child {
    width: 100%;
    aspect-ratio: 1.1;
    /* background: url(./images/product20.jpg) var(--clr-grey-100); */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .featured-product:nth-child(even)>div:nth-child(2) {
    order: 1;
  }

  .pfp img {
    width: 42px;
  }
}

.events-wrapper {
  --fs-75: 0.8125rem;

  width: 100%;
  aspect-ratio: 1440/780;
  max-height: 780px;
  margin-top: 11.625rem;
  background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.events-wrapper>.container>h3 {
  position: relative;
}

.events-wrapper>.container>h3::after {
  /* content: url(./images/arrow-3.svg); */
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  margin-top: 1rem;
}

.event-slider .flex {
  gap: var(--size-300);
}

.event-slider button {
  width: 69.71px;
  height: 69.71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vw;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.77035px);
  cursor: pointer;
}

.event-arrow {
  color: #FFFFFF;
  font-size: 1rem;
}

.next__event-button .event-arrow {
  transform: scale(-1);
}

.events-wrapper>.container {
  --padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  justify-content: space-around;
  /* align-items: center; */
}

.events-wrapper>.container>div:first-of-type {
  height: 70%;
  max-height: 546px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  padding: 40.2% 0 10% 0;
  padding: 3.25rem 1.875rem 3.25rem 3rem;
  justify-content: space-around;
}

.event-details li:first-child::marker {
  color: var(--clr-neutral-100);
  font-size: 1.5em;
}

.event-details li:not(:first-child) {
  list-style-type: none;
  margin-left: -3.5em;
}

.event-details li:not(:first-child)::before {
  content: "01 ";
  font-family: var(--ff-bellefair);
  font-size: var(--fs-700);
  line-height: 46px;
  color: #E1E1E1;
  vertical-align: middle;
}

.event-details ul .fs-500 {
  max-width: 22ch;
  text-transform: uppercase;
}

.event-details .fs-100 {
  --flow-spacer: 0.7813rem;
  max-width: 52ch;
  text-transform: uppercase;
}

.events-wrapper>.container>div:first-of-type nav ul {
  gap: var(--size-450);
}

.events-nav ul li a {
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  white-space: nowrap;
}

.events-nav ul li:last-child a {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 0.625rem;
}

.fade-in {
  animation: fade-in 10s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 60em) {
  .events-wrapper {
    --fs-75: 0.75rem;
    --fs-100: var(--fs-50);
    --fs-200: 1.25rem;
    --fs-500: 1.25rem;

    aspect-ratio: 414/336;
  }

  .events-wrapper>.container {
    grid-template-rows: 33px auto 33px;
  }

  .events-wrapper>.container>div:first-of-type {
    height: 80%;
    flex-direction: column;
    align-items: center;
  }

  .events-nav {
    align-self: flex-end;
  }

  .events-wrapper>.container>div:first-of-type {
    padding-bottom: 1.375rem;
    padding-top: 2.0625rem;
  }

  .events-nav ul li:last-child a {
    padding: 0.5rem;
  }
}

.middle-page__nav {
  margin-top: 11.875rem;
  border-collapse: collapse;
}

.middle-page__nav ul li {
  align-items: center;
  padding: var(--size-700) min(17.6875rem, 20vw) var(--size-700) 4.875rem;
  border-bottom: 0.5px solid var(--clr-grey-300);
}

.middle-page__nav ul li:first-child {
  border-top: 0.5px solid var(--clr-grey-300);
}

.mid-nav__arrow {
  width: 81px;
  height: 71px;
  color: #4693ED;
}

@media (max-width: 50em) {
  .middle-page__nav ul li:first-child {
    border-top-width: 1px;
  }

  .middle-page__nav ul li {
    padding: var(--size-400) min(17.6875rem, 20vw) var(--size-400) min(4.875rem, 1vw);
    border-width: 1px;
  }

  .middle-page__nav ul li input:last-child {
    padding: 0.925rem 0.55rem;
    border: 0.5px solid;
    border-radius: 100vw;
  }

  .mid-nav__arrow {
    box-sizing: content-box;
    width: 34px;
    height: 22px;
    font-size: 1rem;
    padding: 1rem 0.5625rem;
    color: #616161;
    border: 0.5px solid #000000;
    border-radius: 100vw;
  }
}

.top-creators {
  height: fit-content;
  width: 100%;
  margin-top: 11.25rem;
  padding: 4.75rem 0.0675rem 0 0.0675rem;
  background: var(--clr-neutral-200);
}

.top-creators .container {
  --max-width: 1227px;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
}

.top-creators .flex {
  max-width: 1227px;
  gap: 5px;
  margin-inline: auto;
}

.top-creators .flex>.fs-900 {
  max-width: 21ch;
}

.top-creators .ff-secondary-heading {
  text-align: center;
}

.top-creators>div:first-child p {
  --flow-spacer: 2.25rem;

  max-width: 62ch;
  margin-inline: auto;
  opacity: 0.57;
}

.top-creators .container>div {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.top-creators .container>div:first-child {
  z-index: 1;
  height: fit-content;
}

.top-creators .container>div:nth-child(2) {
  height: fit-content;
  margin-top: 400px;
  margin-left: 811px;
  margin-right: 5px;
  justify-self: end;
  z-index: 2;
}

.top-creator__animation {
  margin-bottom: -3.5469rem;
  margin-right: 59px;
  width: 57%;
  aspect-ratio: 826/835.75;
  align-self: flex-end;
  justify-self: flex-end;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.04)),
    /* url(./images/creator1.png); */
    /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
  animation: creators-animation 10s linear infinite both;
  transition: 10s; */
}

@media (max-width: 50em) {
  .top-creators {
    --fs-900: var(--fs-200);
    --fs-700: var(--fs-50);
    --fs-xxl: 64px;
    padding-top: 0;
  }

  .top-creators ul {
    display: flex;
    gap: 1.625rem;
  }

  .top-creators ul {
    list-style-type: disc;
  }

  .top-creators .flex {
    margin-inline: auto;
  }

  .top-creators>div:first-child p {
    margin-inline: auto;
    text-align: center;
  }

  .top-creators .container>div:nth-child(2) {
    margin-top: 120px;
    margin-left: 247px;
  }
}

@keyframes creators-animation {
  0% {
    /* background-image: url(./images/test.png); */
  }

  50% {
    /* background-image: url(./images/test2.png); */
  }

  100% {
    /* background-image: url(./images/test3.png); */
  }
}

.newsletter {
  --flow-spacer: 1.25rem;
  --max-width: 1332px;
  --padding: 1.25rem;

  padding: var(--size-700) var(--padding);
  margin-top: 9.1875rem;
  border: 1px solid var(--clr-grey-300);
  text-align: center;
}

.newsletter p {
  max-width: 100%;
}

.newsletter form {
  --flow-spacer: 2.125rem;
  display: flex;
  justify-content: center;
  gap: 1.4375rem;
}

.newsletter form input,
.newsletter form button {
  font-family: var(--ff-news);
  font-weight: var(--fw-regular);
  font-size: var(--fs-100);
  line-height: 21px;
  text-transform: uppercase;
  border: 1px solid var(--clr-grey-300);
}

.newsletter form input {
  width: 446px;
  padding: 1.0625rem 0.9375rem;
  padding-left: 3.625rem;
  color: var(--clr-grey-300);
}

.newsletter form button {
  background: var(--clr-grey-500);
  color: var(--clr-neutral-100);
  padding: 1.2188rem 2.8125rem;
}

@media (max-width: 50em) {
  .newsletter {
    --fs-100: var(--fs-75);
    --fs-500: var(--fs-200);
    --fs-600: var(--fs-75);
    text-align: left;
    border: none;
    padding: 0 0;
  }

  .newsletter form {
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter form input {
    width: 340px;
  }

  .newsletter form button {
    padding: 1.25rem 3.5513rem;
  }
}

.footer {
  padding-top: var(--size-700);
  padding-bottom: 2.75rem;
}

.footer>.flex {
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.footer nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  column-gap: 1rem;
}

.footer nav ul li a {
  text-decoration: none;
  color: var(--clr-grey-300);
  font-size: var(--fs-300);
  white-space: nowrap;
}

.footer nav ul li:not(:nth-last-child(2)) a {
  text-transform: capitalize;
}

.footer nav ul li:nth-last-child(-n + 2) a {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.footer .fs-200:last-child {
  max-width: 100%;
  margin-top: 5.625rem;
}

@media (max-width: 70em) {
  .footer nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 60em) {
  .footer nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 50em) {
  .footer nav ul li a {
    font-size: var(--fs-75);
  }

  .footer>.flex {
    justify-content: flex-start;
    margin-left: 1.2rem;
  }

  .footer nav ul li:not(:nth-last-child(-n + 2)) {
    display: none;
  }

  .footer nav h6 {
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .footer nav ul li:nth-last-child(-n + 2) a {
    gap: 1rem;
  }

  .footer nav ul li:nth-last-child(-n + 2) a img {
    width: 24px;
  }
}

/* ------------------------------------------------------------------------------------- */
/* Marketplace */

.marketplace {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  margin-top: 8.875rem;
  padding-bottom: 18.75rem;
  gap: 2.6875rem;
  align-items: flex-start;
}

.filter {
  --flow-spacer: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter-heading {
  gap: 1.5625rem;
  margin-top: 7rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.form-control__search {
  background: #F4F2F2;
  border-radius: 15px;
  display: flex;
  padding: 1rem 1.75rem;
  width: 215px;
}

.form-control {
  --flow-spacer: 1.25rem;
  display: flex;
  flex-direction: column;
  max-height: 0;
  /* transform: scaleY(0); */
  /* transform-origin: top; */
  overflow: hidden;
  transition: max-height 0.3s;
}

.form-control__category {
  --flow-spacer: 1.25rem;
  display: flex;
  flex-direction: column;
  max-height: 0;
  /* transform: scaleY(0); */
  /* transform-origin: top; */
  overflow: hidden;
  transition: max-height 0.5s;
}

.active {
  /* transform: scaleY(1); */
  max-height: 500px;
  /* display: flex; */
}

.form-control__category label {
  position: relative;
}

.form-control__category label span:last-child {
  margin-left: 2rem;
  text-transform: capitalize;
}

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 5px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #D9D9D9;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  display: none;
  width: 8px;
  height: 16px;
  border: solid var(--clr-primary-400);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked~.checkmark:after {
  display: block;
}

input[name="text"] {
  width: 100%;
  padding-left: 0.875rem;
  border: none;
  background-color: transparent;
}

input[name="text"]:focus {
  outline: none;
  background-color: transparent;
}

.underline {
  height: 6px;
  background: #AFB091;
  border-radius: 10px;
  align-self: stretch;
}

.sort-wrapper {
  align-items: center;
  background: #FFFFFF;
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1rem;
  padding-left: 1.875rem;
  margin-top: -0.5rem;
}

.sort-input {
  width: 191px;
  height: 58px;
  border: 0.4px solid #000000;
  border-radius: 8px;
}

.products-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-list {
  --flow-spacer: 0.625rem;
  margin-top: 5.5625rem;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 53px;
  padding-bottom: 10.4375rem;
}

.products-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  padding: 1.25rem 0.875rem 0.4375rem;
  box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
  border-radius: 15px;
}

.product-card>div {
  width: 241px;
  height: 280px;
  background: #D9D9D9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.product-card>p {
  text-transform: uppercase;
}

.load-more__btn {
  padding: 1rem 3.75rem;
}